<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="form_container">
        <div class="form_container-header">
          <h5>MediHealth</h5>
          <p class="form_title-header">Create an Account</p>
        </div>
        <div class="form_container-body">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
                <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
        {% endif %}
        {% endwith %}
          <form method="post" action="./register">
            <div>
              <label for="formName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="formName"
		name="firstname"
                placeholder="first name"
              />
            </div>
            <div>
              <label for="formSName" class="form-label">Surname</label>
              <input
                type="text"
                class="form-control"
                id="formSName"
                placeholder="Surname"
		name="lastname"
              />
            </div>
            <div>
              <label for="formEmail" class="form-label">Email Address</label>
              <input
		name="email"
                type="email"
                class="form-control"
                id="formEmail"
                placeholder="Email Address"
              />
            </div>
            <div>
              <label for="formPassword" class="form-label">Password</label>
              <input
		name="password"
                type="password"
                class="form-control"
                id="formPassword"
                placeholder="Password"
              />
            </div>
            <button class="form_btn">Register</button>
            <p>
	    Already have an account? click <a href="{{url_for('auth.login') }}">here</a>.
            </p>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

